<h1 class="text-xl w-full max-w-xs m-auto">Add a new book</h1>
<div class="w-full max-w-xs m-auto">
  <form
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    [formGroup]="newBookForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        placeholder="e.g. The adventures of coders"
        formControlName="title"
        data-testid="title-input"
      />
      <ng-container *ngIf="title.invalid && (title.dirty || title.touched)">
        <mat-error *ngIf="title.errors?.['required']">
          title is required.
        </mat-error>
        <mat-error *ngIf="title.errors?.['minlength']">
          title must be at least 4 characters long.
        </mat-error>
      </ng-container>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Author</mat-label>
      <input
        matInput
        type="text"
        placeholder="e.g. David Jackson"
        formControlName="author"
        data-testid="author-input"
      />
      <ng-container *ngIf="author.invalid && (author.dirty || author.touched)">
        <mat-error *ngIf="author.errors?.['required']">
          author is required.
        </mat-error>
        <mat-error *ngIf="author.errors?.['minlength']">
          author must be at least 4 characters long.
        </mat-error>
      </ng-container>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Publication date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="publicationDate"
        data-testid="publicationDate-input"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <ng-container
        *ngIf="
          publicationDate.invalid &&
          (publicationDate.dirty || publicationDate.touched)
        "
      >
        <mat-error *ngIf="publicationDate.errors?.['required']">
          publicationDate is required.
        </mat-error>
        <mat-error *ngIf="publicationDate.errors?.['invalidDate']">
          publicationDate does not contain a valid date
        </mat-error>
      </ng-container>
    </mat-form-field>

    <div class="flex items-center justify-between">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        data-testid="submit-button"
      >
        Add book
      </button>
    </div>
  </form>
</div>
