<div class="font-mono">
  <header class="px-8 py-4 bg-primary-light text-xl font-bold shadow-md">
    My Favorite Book List
  </header>

  <main class="max-w-xl md:max-w-2xl lg:max-w-6xl mx-auto py-8 px-4 md:px-8">
    <router-outlet></router-outlet>
  </main>
</div>
