<h1 class="text-xl py-4">My Books ({{ (books | async)!.length }})</h1>

<div
  *ngIf="(books | async)!.length > 0"
  class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
>
  <div
    class="flex flex-col p-lg bg-secondary-light shadow-md hover:shadow-lg rounded"
  >
    <button
      routerLink="new"
      class="text-4xl m-auto bg-secondary pt-4 p-2 rounded"
    >
      + New book
    </button>
  </div>
  <div
    *ngFor="let book of books | async"
    class="flex flex-col p-6 bg-secondary-light shadow-md hover:shadow-lg rounded"
  >
    <div class="pb-4 text-lg font-bold">{{ book.title }}</div>
    <p class="mb-8 flex-1">
      <b>By:</b> {{ book.author }}<br />
      <b>On:</b> {{ formatDate(book.publicationDate) }}
    </p>
  </div>
</div>
